.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding: 50px 130px 50px 130px;
    justify-content: center;
    list-style: none;
   
}
.card_article {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(72, 94, 72);
    border-radius: 2px;
    width: 220px;
    height: 340px;
    cursor: pointer;
    
}
.img_card {
    width: 210px;
    height: 190px;
    object-fit: cover;    
}
.text_container {  
    display: flex;
    flex-direction: column;
    text-align: center;
}