/* font-family: 'Cairo Play', sans-serif;
font-family: 'Kanit', sans-serif;
font-family: 'Kiwi Maru', serif;
font-family: 'Love Ya Like A Sister', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Water Brush', cursive; */


.header__name {
    font-size: 40px;
    font-family: 'Water Brush', cursive; display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    
}

.header__form{
    display:flex;
    flex-direction: column;
    margin-left: 30px;
    /* OJO A ESTE MARGIN! */

}
.form_div {
    margin-top: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 5px;
}

.form_title {
    font-family:'Love Ya Like A Sister', cursive;
    text-decoration: underline solid palevioletred;
}
.form_technique {
    font-size: 17px;
    font-family: 'Cairo Play', sans-serif;
}

.form_secondDiv {
    display: flex;
    margin: 10px 0 10px 0;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.form_input {
    font-size: 17px;
    font-family:'Love Ya Like A Sister', cursive;
    text-decoration: underline solid palevioletred;
}
.form_inputBox {
    font-size: 17px;
    border-radius: 5px;
    width: 200px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding: 5px 130px 50px 200px;
    justify-content: center;
    list-style: none;  
    
}
.card_link {
    text-decoration: none;
}

.card_article {
    display: flex;
    flex-direction: column;
    border: rgb(255, 246, 234) 8px groove;
    width: 200px;
    height: 320px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    
}

.img_card {
    width: 200px;
    height: 190px;
    object-fit: cover; 
      
}
.text_container {  
    display: flex;
    flex-direction: column;
    text-align: center;
    display:inline-block;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}


.card_detail {
    display: flex;
    text-align: center;
    object-fit: contain;
    border: 3px solid rgb(72, 94, 72);
    font-size: 17px;
    width: 700px;
    height: 400px;
    cursor: pointer;
    margin-top: 50px;
    border-radius: 8px;
    
}
.img_card-detail {
    width: 380px;
    height: 400px;
    object-fit: cover; 
    
}
.detail_link {
    margin-top: 20px;
    text-decoration: none;
    font-size: 40px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text_detail {
    margin: 10px 0 0 40px;
    display: flex;
    flex-direction: column;
    text-align: left;
    display:inline-block;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;

}
.detail_title {
    font-size: 22px;
    padding-bottom: 10px;
    font-family: 'Kiwi Maru', serif;
}

@media (min-width: 1200px) {
    .header__name {
        font-size: 55px;
        font-family: 'Water Brush', cursive; display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 55px;
        gap: 20px;  
    }
    .header__form{
        display:flex;
        justify-content: center;
        flex-direction: row;
        gap: 50px;
    }
    .form_div {
       margin-top: 15px;
       gap: 10px;
    }

    .form_secondDiv {
      margin-top: 25px;
    }
    .form_title {
        font-size: 22px;
    }
    .form_input {
        font-size: 22px;
    }
    .form_inputBox {
        font-size: 20px;
        border-radius: 5px;
        border-style:ridge;
        width: 320px;
    }
    .cards {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        padding: 15px 130px 50px 130px;
        justify-content: center;
        list-style: none;  
        
    }
}